@tailwind base;
@tailwind components;
@tailwind utilities;

.tip-show:first-child {
  padding-top: 16px;
}

.tip-show strong,
.tip-show--small strong {
  font-weight: 500;
}

.tip-show {
  font-size: 2.5em;
  text-align: right;
  padding-right: 16px;
}

.tip-show--small {
  font-size: 1.25em;
  text-align: right;
  padding-right: 16px;
  padding-bottom: 16px;
}

.total-input .MuiInputBase-root {
  font-size: 4.5em;
  padding: 8px;
}

.total-input .MuiInputBase-input {
  text-align: right;
}

.total-input__adornment .MuiTypography-body1 {
  font-size: 0.75em;
}
